@page "/weather"
@using System.Data;
@using ExamRegistrationUoJ.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject DBInterface Db

@attribute [StreamRendering]

<PageTitle>Customers</PageTitle>

<h1>Movies</h1>

<p>Following table shows the longest movies in sakila sample database</p>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        @{
            var emailClaim = context.User.Claims.FirstOrDefault(c => c.Type == "email" || c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");
        }

        @if (emailClaim != null)
        {
            <p>@emailClaim.Value</p>
        }

        
        @context.User.Claims.
        @foreach (var a in @context.User.Claims)
        {
            <p>@a</p>
        }
    </Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@if (movies == null)
{
    <p><em>@loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow movie in movies.Rows)
            {
                <tr>
                    <td>@movie["title"]</td>
                    <td>@movie["description"]</td>
                    <td>@movie["rating"]</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable? movies;
    private string loading = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        try { movies = await Db.GetMostRentedFromSakila(); }
        catch (MySqlConnector.MySqlException ex)
        {
            loading = "Unable to load: " + ex.Message;
        }
    }
}
